language: ruby
before_script:
  - cp config/database.travis.yml config/database.yml
  - psql -c 'create database migration_comments_test;' -U postgres
  - mysql -e 'create database migration_comments_test;'
script:
  - bundle exec rake test
services:
  - postgresql: "9.4"
  - mysql
  - sqlite
rvm:
  - 2.3.1
  - 2.2.5
  - 2.1.9
  - 2.0.0-p648
env:
  matrix:
    - RAILS_VERSION="~> 4.2.5.2"
    - RAILS_VERSION="~> 4.2.0"
    - RAILS_VERSION="~> 4.1.0"
    - RAILS_VERSION="~> 4.0.0"
    - RAILS_VERSION="~> 5.0rc1"
    - DB=postgres
    - DB=mysql
    - DB=sqlite
matrix:
  fast_finish: true
  allow_failures:
    - env: RAILS_VERSION="~> 5.0rc1"
    - env: DB=mysql
    - env: DB=sqlite
